extends ../layout

block content
  // body
  #Changepwtitle.container-fluid
    h2#Contactword.col-xs-11.col-sm-10.col-md-9.col-lg-8.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 Change Password
    hr
    .container-fluid
      form(action='/account/password', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .col-xs-12.col-sm-5.col-md-4.col-lg-4.col-sm-offset-1.col-md-offset-2.col-2.col-lg-offset-2
          input#fname.col-xs-12.col-sm-12(type='password', name='password', placeholder='New Password')
        .col-xs-12.col-sm-5.col-md-4.col-lg-4
          input#lname(type='password', name='confirmPassword', placeholder='Confirm New Password')
        .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-2.col-lg-offset-2
          input(type='submit', value='Confirm')

  #Deletetitle.container-fluid
    h2#Contactword.col-xs-11.col-sm-10.col-md-9.col-lg-8.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 Delete Account
    hr
    .container-fluid
      form(action="/account/delete", method="POST")
        input(type='hidden', name='_csrf', value=_csrf)   
        p#deletemessage.col-xs-10.col-sm-8.col-md-8.col-lg-8.col-xs-offset-1.col-sm-offset-1.col-md-offset-2.col-lg-offset-2 You can delete your account, but keep in mind that this action is irreversible
        .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-2.col-lg-offset-2
          input#deletebutton(type='submit', value='Delete Account')
