extends ../layout.pug

block content
    // body
    #Contacttitle.container-fluid
      h2#Contactword.col-xs-11.col-sm-10.col-md-9.col-lg-8.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 User Space
      hr
        
    // Link 1
    each val in user.maps
      #maps.container-fluid
        a#deletebtn.close-icon(href='#')
        a#mapButtons.button.button4(href=val.url)
          | #{val.title}