<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blah</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://d3js.org/d3-path.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3-shape.v1.min.js"></script>

</head>

<body>
<div id="tree-container"> <div>
    {{{body}}}

    <script>
	{{{state}}}
    </script>
    
</div>
</body>

<script src="/public/main.js"></script>

</html>
