extends layout

block titleChange
  title Invarient - Contact

block content
  style.
    h1 {
    font-family:'Raleway', sans-serif;
    }
    h2 {
    color:black;
    font-family:'Raleway', sans-serif;
    }
    hr {
    width: 80%;
    border-color: #e6841a;
    border-bottom: 3px solid #e6841a;
    }

  #Contacttitle.container-fluid
    h2#Contactword.col-xs-11.col-sm-10.col-md-9.col-lg-8.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 Contact Us
    hr
  .container-fluid
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .col-xs-12.col-sm-5.col-md-4.col-lg-4.col-sm-offset-1.col-md-offset-2.col-2.col-lg-offset-2
        input#fname.col-xs-12.col-sm-12(type='text', name='name', placeholder='Name')
      .col-xs-12.col-sm-5.col-md-4.col-lg-4
        input#lname(type='text', name='email', placeholder='Email Address')
      .col-xs-12.col-sm-10.col-md-8.col-lg-8.col-sm-offset-1.col-md-offset-2.col-lg-offset-2
        input#message(type='text', name='message', placeholder='Enter your message here...')
      .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-sm-offset-1.col-md-offset-2.col-lg-offset-2
        input(type='submit', value='Submit')
