extends layout

block content
    // body
    #body.container-fluid
      img#treelogo(src='css/mat/tree.png', alt='tree img', style='width:36em;')
      // Tree description paragraph
      .container-fluid
        p#Treeparagraph
          | Use a tree structure to break down and communicate ideas effectively.

      // Tree Try it button
      #TreeTry.container-fluid
        button#Tryit.button.button2(onclick="location.href='/sandbox'") Try it 
      hr
      // Synthesize
      #Synthesizebox.container-fluid
        img.col-xs-12.col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1(src='css/mat/synthesize.png', alt='synthesize img', style='width:200px;')
        h2#Synword.col-xs-8.col-sm-6.col-md-6.col-lg-7 Synthesize
        //- button#Tryitsub.button.button2 Try it
        p#subpar.col-xs-12.col-sm-8.col-md-8.col-lg-8
          | Breaking down ideas in a tree structure format allows you to visualize connections, dependencies, relationships, and hierarchies better than any other system.  Visualize information in this way to understand it quickly, efficiently, and in great detail.
      // Communicate
      #Synthesizebox.container-fluid
        img.col-xs-12.col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1(src='css/mat/communicate.png', alt='synthesize img', style='width:200px;')
        h2#Synword.col-xs-8.col-sm-6.col-md-6.col-lg-7 Communicate
        //- button#Tryitsub.button.button2 Try it
        p#subpar.col-xs-12.col-sm-8.col-md-8.col-lg-8
          | Storing ideas as a tree lets you move from topic to topic while keeping the big picture in mind.  Use this to frame lower level ideas in terms of the broader ideas they inform.
      // Grow
      #Synthesizebox.container-fluid
        img.col-xs-12.col-sm-3.col-md-3.col-lg-3.col-sm-offset-1.col-md-offset-1.col-lg-offset-1(src='css/mat/grow.png', alt='synthesize img', style='width:200px;')
        h2#Synword.col-xs-8.col-sm-6.col-md-6.col-lg-7 Grow
        p#subpar.col-xs-12.col-sm-8.col-md-8.col-lg-8
          | Our tree structure is perfectly scalable.  Add all your ideas to one tree, make a forest within a map, or make multiple maps - it's up to you.  The best part is that you don't have to decide.  It's all free.

      #botButtonBox.container-fluid
        button#Tryitbot.button.button2(onclick="location.href='/sandbox'") Try it 
