// Footer
#Footer.container-fluid
  #Contactbutton.container-flulid
    button#Contactus.button.button3(onclick="location.href='contact'") Contact Us
  h3#h3
    | ©Invarient 2017. All Rights Reserved. Designed by 
    span(style='color: #ffa23d') Invarient
    -console.log(footerType)
    if footerType && footerType=="map"
      br
      | Icons made by Freepik and Smashicons from www.flaticon.com
