#header.container-fluid
  h1#headertext.col-xs-8.col-sm-8.col-md-9.col-lg-9 Invarient
  #headerbuttonshome.container-fluid
    button#LogIn.button.button1 Log In
    button#Singup.button.button1 Sign Up