#header.container-fluid
  h1#headertext.col-xs-8.col-sm-9.col-md-9.col-lg-9(onclick="location.href='/'") Invarient
  #headerbuttonshome.container-fluid
    button#LogIn.button.button1(onclick="location.href='/login'") Log In
    button#Singup.button.button1(onclick="location.href='signup'") Sign Up
